
/*Section 2*/
.country{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
}

.player-profile{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.athletes img{
    height: 144px;
    width: 144px;
    border-radius: 50%;
}

.athletes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 226px;
    width: 193px;
    align-items: center;
    justify-content: center;
}

.detail{
    text-align: center;
}

.detail p{
    font-size: 20px
}

/*section 3*/
.table{
    margin: 50px 0;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1461px;
    margin: auto;
  }
tr:nth-child(1){
    background-color: #E9E9E9;
}

td{
    border-bottom: 1px solid #707070;
}
th, td{
    text-align: start;
    font-size: 20px;
    padding: 8px;
}
